<?xml version="1.0"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuite name="StrictPhp functional tests">
        <directory suffix=".phpt">./tests/functional</directory>
    </testsuite>
    <testsuite name="StrictPhp unit tests">
        <directory suffix="php">tests/StrictPhpTest</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
