<?xml version="1.0"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuite name="StrictPhp functional tests">
        <directory suffix=".phpt">./tests/functional</directory>
    </testsuite>
    <testsuite name="StrictPhp unitary tests">
        <directory suffix="php">tests/src/</directory>
    </testsuite>
</phpunit>
